<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://git.oschina.net/qsingroup/jsontest/attach_files/download?i=4762&u=http%3A%2F%2Ffiles.git.oschina.net%2Fgroup1%2FM00%2F00%2F30%2FcHwGbFQSo1eANspfAFSdniqBz_o806.ipa%3Ftoken%3D584db3ea8fa6fe58aae02ae4717e834a%26ts%3D1410508946%26filename%3Djsontest.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.qszndh.jsontest</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>jsontest</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
